bcrypt==4.2.0
cryptography==43.0.0
fastapi==0.109.0
passlib==1.7.4
pandas==2.1.4
python-jose==3.3.0
python-multipart==0.0.9
pyotp==2.9.0
pydantic==2.5.3
pymysql==1.1.1
requests==2.32.3
sqlalchemy==2.0.32
uvicorn==0.26.0
yagmail==0.15.293